label::after {
  background-color: #00000000 !important;
}

:root .select {
  background-color: #00000000;
  color: #fff9 !important;

  &:focus {
    outline:none;
    background-color: #00000000;
    box-shadow: 0 0 0 0;
    border-color: #fff !important;
    color: #fff;
  }
}

.label {
  label {
    color: rgb(108, 117, 125) !important; // secondary
  }
}