$logo-width: 140px;

.logo-wrapper {
  width: $logo-width;
  margin-right: 2rem !important;
}

.logo {
  width: $logo-width;
  position: absolute;
  top: .5rem;
}

.cultivated-bimbo {
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  font-size: 55px;
  margin: 0;
  padding: 0;
  line-height: 0;
  color: #525456 !important;
  position: absolute;
  right: 6px;
  top: 32px;
}

