.fade-in {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 250ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
