$theme-colors: (
  "primary": #38d7d3,
  // "primary": #0d6efd,
  "secondary": #6c757d,
  "success": #198754,
  "info": #0dcaf0,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #212529,
);
  
$border-radius: 4px;

@import 'bootstrap/scss/bootstrap';


/* The rest of your styles can go below */
  
body {
    background-color: #22242a;
}