$border-radius: 2px;
$primary: #38d7d3;

$theme-colors: (
  "primary": $primary,
  "secondary": #6c757d,
  "success": #198754,
  "info": #0dcaf0,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #212529,
);

@import '~bootstrap/scss/bootstrap';

body {
  font-family: "Voltaire", Arial, Helvetica, sans-serif;
  background-color: #26292c;
}

h1 {
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  color: #7c7c7c;
}

.alert-success {
  color: #ffffff;
  background-color: #166a67;
  border-color: #39d7d3;
}

.btn-primary {
  color: #262a2c;
  
  &:hover {
    color: #fff;
    background-color: transparent;
  }
}

.btn-outline-primary {
  color: #fff;
  background-color: transparent;
  
  &:hover {
    color: #262a2c;
  }
}

button {
 border-radius: $border-radius;
}

h3 {
  color: $primary
}

a {
  color: $primary;
  text-decoration: none;
}
